.date-picker-popup {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-min-width: 235;
    -fx-border-color: rgb(191,191,191);
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: #dadada;
}

.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: white;
    -fx-opacity: 0.3;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 1em;
    -fx-font-family: Calibri;
}