.myDialog{
    -fx-background-color: white;
    -fx-border-color: -fx-accent;
    -fx-border-width: 1 0 0 0;
}

.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.myDialog .button-bar{
	-fx-alligment: CENTER;
}
.myDialog .button {
	-fx-font-size: 14px ;
	-fx-font-weight: bold;
    -fx-background-insets: 0;
	-fx-font-family: Calibri;
	-fx-min-height: 35;
	-fx-pref-height: 35;
    -fx-max-height: 35;
	-fx-min-width: 90;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-border-style: solid;
  	-fx-border-width: 1.5pt;
  	-fx-cursor: hand;
  	-fx-font-weight: bold;
}

.myDialog .button:default{
    -fx-background-color: white;
	-fx-text-fill: rgb(112,173,71);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(112,173,71);
}

.myDialog .button:default:hover{
    -fx-background-color: rgb(112,173,71);
	-fx-text-fill: white;
}

.myDialog .button:cancel {
	-fx-background-color: white;
	-fx-text-fill: rgb(145,145,149);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(145,145,149);
}

.myDialog .button:cancel:hover {
	-fx-background-color: rgb(145,145,149);
	-fx-text-fill: white;
}

.myDialog .button {
	-fx-background-color: white;
	-fx-text-fill: rgb(0, 150, 201);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color: rgb(0, 150, 201);
}

.myDialog .button:hover {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 150, 201);
}

.myDialog .table-view {
	-fx-background-color: transparent ;
	-fx-table-cell-border-color: transparent;
	-fx-border-color: rgb(191,191,191) rgb(191,191,191) rgb(191,191,191) rgb(191,191,191);
    -fx-border-width: 0.5 0.5 2 0.5;
    -fx-font-size: 12px ;
    -fx-effect: none;
}

.myDialog .table-view .column-header, .table-view .filler{
/* 	-fx-background-color: rgb(243,243,243)  ;*/
	-fx-background-color: white  ;
    -fx-border-color: transparent transparent  rgb(191,191,191) transparent ;
    -fx-border-width: 0 0 1 0;
    /*-fx-font-family: "Arial Narrow" ;*/
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-font-size: 12px !important;
}

.myDialog .table-row-cell:empty {
    -fx-background-color: white;
}


.text-field{
	-fx-font-size: 12px;
	width: 100%;
    margin: 8px 0;
	box-sizing: border-box;
	-fx-border-color:  rgb(191,191,191);
	-fx-background-color: rgb(255,255,255);
	-fx-background-insets: 1;
	-fx-background-radius: 0;
	-fx-text-box-border: rgb(255,255,255);
	-fx-control-inner-background : rgb(255,255,255);
	-fx-alignment: center-left ;
	-fx-pref-height:35;
}

.text-field:focused {
	-fx-effect: dropshadow( three-pass-box  , rgb(0, 150, 201) , 2, 0.0 , 1 , 1 );
	-fx-alignment: center-left ;
}

.text-area {
	-fx-border-radius: 0;
}
.text-area .content {
	-fx-background-color: rgb(255,255,255);
	-fx-border-radius: 0;
}

/*------------HYPERLINK-------------*/
.hyperlink {
	-fx-border-color: transparent;
}


