root {
    display: block;
}

.bar{
	-fx-background-color: rgb(255,255,255);
}


/*-------------BACKGROUND-------------*/
.background{
	-fx-background-color: rgb(255,255,255);
	-fx-background: rgb(255,255,255);
	/* -fx-background-color: rgb(183,185,188); */
}

.background-field{
	-fx-background: rgb(243,243,243);
	-fx-background-color: rgb(243,243,243);
	-fx-border-width: 0.5px;
	-fx-border-color: rgb(191,191,191)
}

.accordion .titled-pane > *.content{
/*     -fx-background-color: transparent ; */
	-fx-background-color: rgba(255, 255, 255, 0.5) ;
}

.border-white{
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(255,255,255);
  	-fx-border-style: solid;
  	-fx-border-width: none;
}

.h2{
	-fx-font-size: 16;
	-fx-font-weight: bold !important;
}

.h3{
	-fx-font-size: 1.2em;
	-fx-font-style: italic ;
	-fx-font-weight: bold;
}

/*-------------LABELS-----------------*/
.label {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(96,93,92);
    -fx-font-weight: bold;
  /* -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); */
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label-error{
	-fx-font-size: 9pt;
	-fx-text-fill: rgb(181,18,27) ;
	-fx-font-weight: none;
}

/*-------------BUTTONS----------------*/
.button {
	-fx-font-size: 14px ;
	-fx-font-weight: bold;
    -fx-background-insets: 0;
}

.button:focused {
	-fx-text-fill: white;
}
.button:hover {
	-fx-text-fill: blue;
}

/* .button#fxml_button_back {
    -fx-graphic: url('/img/icons/smaller/arrow-left-icon.png');
    -fx-background-image: url("/img/bckg_btn.png");
	-fx-min-height: 37;
	-fx-max-height: 37;
	-fx-min-width: 37;
	-fx-max-width: 37;
	-fx-alignment: center;
	-fx-padding: 5 ;
}

*/

.button#fxml_generalButtonMax {
    -fx-graphic: url('/img/ctrl_max.png');
	-fx-min-height: 20;
	-fx-min-width: 20;
	-fx-alignment: center;
	-fx-padding: 0 ;
}

.button#fxml_generalButtonMin {
    -fx-graphic: url('/img/ctrl_min.png');
	-fx-min-height: 20;
	-fx-min-width: 20;
	-fx-alignment: center;
	-fx-padding: 0 ;
}

.button#fxml_generalButtonClose {
    -fx-graphic: url('/img/ctrl_close.png');
	-fx-min-height: 20;
	-fx-min-width: 20;
	-fx-alignment: center;
	-fx-padding: 0 ;
}

.button#fxml_generalButtonResize {
	-fx-background-image: null;
/* 	-fx-background-color:transparent; */
    -fx-graphic: url('/img/ctrl_resize.png');
	-fx-min-height: 20;
	-fx-min-width: 20;
	-fx-alignment: center;
	-fx-padding: 0 ;
}


.btn{
	-fx-min-height: 35;
    -fx-font-family: Calibri ;
	-fx-font-weight: bold;
	-fx-min-width: 200;
	-fx-cursor: hand;
}

.btn.short{
	-fx-min-width: 90;
}

.btn-primary, .btn-primary:focused {
	-fx-background-color: white;
	-fx-text-fill: rgb(112,173,71);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(112,173,71);
  	-fx-border-style: solid;
  	-fx-border-width: 1.5pt;
}

.btn-primary:hover{
	-fx-background-color: rgb(112,173,71);
	-fx-text-fill: white;
}


.btn-info, .btn-info:focused{
	-fx-background-color: white;
	-fx-text-fill: rgb(0, 150, 201);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color: rgb(0, 150, 201);
  	-fx-border-style: solid;
  	-fx-border-width: 1.5pt;
}
.btn-info:hover{
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 150, 201);
}

.btn-danger, .btn-danger:focused{
	-fx-background-color: white;
	-fx-text-fill: rgb(145,145,149);
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(145,145,149);
  	-fx-border-style: solid;
  	-fx-border-width: 1.5pt;
}

.btn-danger:hover{
	-fx-background-color: rgb(145,145,149);
	-fx-text-fill: white;
}

/*-------------TABLES----------------*/
.table-view {
	-fx-background-color: transparent ;
	-fx-table-cell-border-color: transparent;
	-fx-border-color: rgb(191,191,191) rgb(191,191,191) rgb(191,191,191) rgb(191,191,191);
    -fx-border-width: 0.5 0.5 2 0.5;
    -fx-font-size: 12px ;
    -fx-effect: none;
}

.table-view .scroll-bar:verical {
    -fx-opacity: 0;
    -fx-padding: -7;
    visibility: hidden;
}

.table-view:focused{
    -fx-background-color: rgb(243,243,243) ;
}

.table-view .column-header, .table-view .filler{
/* 	-fx-background-color: rgb(243,243,243)  ;*/
	-fx-background-color: white  ;
    -fx-border-color: transparent transparent  rgb(191,191,191) transparent ;
    -fx-border-width: 0 0 0.7 0;
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-font-size: 12px !important;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell-bold {
	-fx-font-weight: bold;
}

.table-row-cell-backroung-grey {
	-fx-background-color: #f0f0f0;
}

.table-row-cell-backroung-grey:focused {
	-fx-background-color: -fx-accent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view-center *{
	-fx-alignment: CENTER;
}

.table-row-cell {
   -fx-font-size: 12px !important;
}

.table-row-cell:empty:odd {
    -fx-background-color: white;
}

/*.table-view {
	-fx-background-color: transparent ;
	-fx-table-cell-border-color: transparent;
	-fx-border-color: rgb(191,191,191) rgb(191,191,191) rgb(191,191,191) rgb(191,191,191);
    -fx-border-width: 0.5 0.5 2 0.5;
    -fx-font-size: 12px ;
    -fx-effect: none;
}

.table-view .scroll-bar:verical {
    -fx-opacity: 0;
    -fx-padding: -7;
    visibility: hidden;
}

.table-view:focused{
    -fx-background-color: rgb(243,243,243) ;
}

.table-view .column-header, .table-view .filler{
	-fx-background-color: white  ;
    -fx-border-color: transparent transparent  rgb(191,191,191) transparent ;
    -fx-border-width: 0 0 0.7 0;
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-font-size: 12px !important;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell-bold {
	-fx-font-weight: bold;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view-center *{
	-fx-alignment: CENTER;
}

.table-row-cell {
   -fx-font-size: 12px !important;
}

.table-row-cell:empty:odd {
    -fx-background-color: white;
}

.table-row-cell-backroung-grey {
	-fx-background-color: #f0f0f0;
}

.table-row-cell-backroung-grey:focused {
	-fx-background-color: -fx-accent;
}
*/
/*-------------TOOLTIP-----------*/
.tooltip {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-font-family: Calibri, sans-serif;
    -fx-font-weight: none;
    -fx-text-fill: rgb(96,93,92);
}

/*------------HYPERLINK-------------*/
.hyperlink {
	-fx-border-color: transparent;
}

/*-------------SCROLL-BAR-----------*/
.scroll-bar {
	-fx-padding: 1 1 1 0;
}
.scroll-bar > .thumb{
    -fx-background-color: rgb(191,191,191);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: #dadada;
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: rgb(191,191,191);
}

.scroll-bar > .track {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .track-background {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {
    -fx-background-color: #dadada;
}


.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
    -fx-effect: null;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-pane {
    -fx-background-color: transparent, transparent;
}