root {
    display: block;
}

/*-------------BACKGROUND-------------*/
.background{
	-fx-background-color: rgb(255,255,255);
	-fx-background: rgb(255,255,255);
	/* -fx-background-color: rgb(183,185,188); */
}

.background-field{
	-fx-background: rgb(243,243,243);
	-fx-background-color: rgb(243,243,243);
	-fx-border-width: 0.5px;
	-fx-border-color: rgb(191,191,191);
}

.accordion .titled-pane > *.content{
/*     -fx-background-color: transparent ; */
	-fx-background-color: rgba(255, 255, 255, 0.5) ;
}

.border-white{
	-fx-border-insets: 0 0 0 0;
  	-fx-border-color:  rgb(255,255,255);
  	-fx-border-style: solid;
  	-fx-border-width: none;
}

.h2{
	-fx-font-size: 16 px;
	-fx-font-weight: bold ;
	-fx-text-fill: rgb(96,93,92);
}

.h3{
	-fx-font-size: 1.2em;
	-fx-font-style: italic ;
	-fx-font-weight: none !important;
	-fx-text-fill: rgb(96,93,92);
}

.h4{
	-fx-font-size: 14px;
	-fx-font-weight: none !important;
	-fx-text-fill: rgb(96,93,92);
}

.star{
	-fx-font-size: 1em !important;
	-fx-text-fill: rgb(181,18,27) !important;
	-fx-font-weight: none !important;
}

.label {
	-fx-font-size: 14px;
    -fx-text-fill: rgb(96,93,92);
    -fx-font-weight: bold;
  	-fx-text-alignment: left !important;
}

.textlabel {
	-fx-font-size: 14px;
    -fx-text-fill: rgb(96,93,92);
  	-fx-text-alignment: left !important;
}

/*-------------TEXT FIELD-----------*/
.input{
	-fx-font-size: 12px;
	width: 100%;
    margin: 8px 0;
	box-sizing: border-box;
	-fx-border-color:  rgb(191,191,191);
	-fx-background-color: rgb(255,255,255);
	-fx-background-insets: 1;
	-fx-background-radius: 0;
	-fx-text-box-border: rgb(255,255,255);
	-fx-control-inner-background : rgb(255,255,255);
}

.input:focused {
	-fx-effect: dropshadow( three-pass-box  , rgb(0, 150, 201) , 2, 0.0 , 1 , 1 );
}

.text-area .content {
	-fx-background-color: rgb(255,255,255);
}



.tab-pane *.tab-content {
	-fx-padding: 10;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane *.tab {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-insets: 0.0 0.0 0.0 0.0;
	-fx-border-radius: 0.0;
	-fx-pref-height: 35;
	-fx-cursor: hand;
	-fx-inner-border-color:  rgb(181,18,27);
	-fx-padding: 20;
	-fx-outer-border-color:  transparent;
	-fx-border-width:5px;
}

.tab-pane *.tab:selected {
	-fx-background-color: rgb(181,18,27);
	-fx-inner-border-color:  rgb(181,18,27);
	-fx-outer-border-color:  transparent;
	-fx-outer-border-width:20px;
}
/*
.tab-pane *.tab-header-background {
    -fx-background-color: rgb(243.0,243.0,243.0);
    -fx-outer-border: rgb(243.0,243.0,243.0);
    -fx-inner-border: rgb(243.0,243.0,243.0);
    -fx-border-insets: 0.0 0.0 0.0 0.0;
  	-fx-border-color:  rgb(243.0,243.0,243.0);
  	-fx-border-style: solid;
  	-fx-border-width: 0.5pt;
}

*/

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(181,18,27);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/*------------HYPERLINK-------------*/
.hyperlink {
	-fx-border-color: transparent;
	-fx-font-size: 14px;
}



/*-------------SCROLL-BAR-----------*/
.scroll-bar > .thumb{
    -fx-background-color: rgb(191,191,191);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: #dadada;
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: rgb(191,191,191);
}

.scroll-bar > .track {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .track-background {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: rgb(243,243,243);
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {
    -fx-background-color: #dadada;
}


.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
    -fx-effect: null;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-pane {
    -fx-background-color: transparent, transparent;
}



